*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    padding:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s 
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 100;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-align: center;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: #000;
}
@media screen and (max-width: 770px){
    .banner-text h1{
        font-size: 44px;
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
    .navbar a{
        font-size: 12px;
    }
}
/*--About--*/

#about{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #65000b;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p:after{
    content: '';
    width: 50px
    height:35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.title-text h1{
    font-size: 40px;
}
.about-box{
    width: 80%
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.about{
    flex-basis: 50%;
}
.about-img{
    flex-basis: 50%;
    margin: auto;
}
.about-img img{
    width: 70%;
    border-radius: 10px;
}
.about p{
    padding: 0 20px;
    text-align: initial;
}

/*--lifestyle--*/

}
.lifestyle-box{
    width: 80%
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}


.#lifestyle{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.title-textl{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.lifestyle-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.lifestyle-col img{
    width: 50%;
}
.lifestyle-col h3{
    padding: 0 20px;
    text-align: initial;
}
.layer{
     padding: 0 20px;
    text-align: right;
    width: 50%;
    position:inherit;
}

/*--connect with us--*/

.contact-box{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}













